body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    width: 30%;
    margin: 2px auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1c3643;
    font-family: 'Montserrat', sans-serif;
}

.logotipo {
    width: 90px;
    margin: 0px 20px;
}

.menu {
    margin-left: auto;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
}

.menu li a {
    font-size: 18px;
    margin: 0px 20px;
    text-decoration: none;
    color: white;
}

.boton {
    font-size: 16px;
    margin: 0px 20px;
}

.buscador {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 125px 5px 0px;
}

.buscador #buscador {
    width: 200px;
    height: 34px;
    border: none;
    border-radius: 3px;
}

.buscador .icono {
    display: flex;
    background-color: #29292b;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.buscador .icono img {
    width: 17px;
}

.main {
    background-color: #EFEFEF;
}

.fila {
    display: flex;
}

.posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titulo {
    margin: auto;
}

.fila .contenedor img {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
}

.footer .boton, .footer p {
    margin: 0px 5px;
}