body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1c3643;
    font-family: 'Montserrat', sans-serif;
    padding: 3px 0px;
}

.logotipo {
    width: 90px;
    margin: 0px 20px;
}

.menu {
    margin-left: auto;
}

.menu ul {
    display: flex;
    margin: 0px; 
}

.menu ul li {
    list-style: none;
    border-right: 1px solid white;
    padding: 6px 0px;
}

.menu ul li:hover {
    box-shadow:  0px -5px 0px #7dcd40;
}

.menu li a {
    font-size: 18px;
    margin: 0px 20px;
    text-decoration: none;
    color: white;
}

.boton-log, .footer .boton {
    padding: 10px 15px;
    border-radius: 3px;
}

.boton-log {
    border: none;
    font-size: 16px;
    color: white;
    margin: 0px 20px;
    background-image: linear-gradient(to left, #fd324e, #ff7250);
    box-shadow: inset 0 -0.2em rgba(0, 0, 0, .3);
}

.boton-log:hover {
    background-image: linear-gradient(to left, #fd3232, #ff5050);
    cursor: pointer;
}

.buscador {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px 5px 0px;
    margin-bottom: 5px;
}

.buscador #buscador {
    width: 200px;
    height: 34px;
    border: none;
    border-radius: 3px;
}

.buscador .icono {
    display: flex;
    background-color: #29292b;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.buscador .icono img {
    width: 17px;
}

.portada {
    background-color: #EFEFEF;
}

.portada .contenedor .principal {
    height: 600px;
    background-image: url('./images/posts/historiasdeterror.jpg');
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
}

.portada .contenedor .principal div {
    margin: 50px;
    padding: 25px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.747);
}

.fila {
    display: flex;
}

.posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

.titulo {
    margin: auto;
}

.articulo {
    width: 30%;
    margin: 2px auto;
}

.fila .articulo img {
    width: 100%;
}

.usuario{
    border-top: 1px solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
}

.footer .boton {
    border: 1px solid #cdcdcd;
}

.footer .boton:hover {
    background: #cdcdcd;
    cursor: pointer;
}

.footer .boton, .footer p {
    margin: 0px 5px;
}